<style>
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    button {
        max-width: 5rem;
        cursor: pointer;
    }
</style>

<form>
    <label>
        Title
        <input type="text" id="title" name="title">
    </label>
    <label>
        Text
        <textarea id="text" name="text" rows="5"></textarea>
    </label>
    <button>Save</button>
</form>